.header {
    z-index: 2;
    padding: 8px 16px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}

.header .logo {
    width: 100px;
}

.header .rightPortion {
    display: flex;
    align-items: center;
}

.header .rightPortion .searchbar {
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #373836;
    color: #fff;
}

.header .rightPortion .searchbar::placeholder {
    color: rgb(216, 216, 216);
}

.header .rightPortion .links a {
    font-size: 18px;
    color: #5C5D5B;
    cursor: pointer;
    text-decoration: none;
}

.header .rightPortion .links a.signUp {
    margin: 0;
}

.header .rightPortion .links a.signIn,
.header .rightPortion .links a.signOut {
    margin-right: 20px;
}

.header .rightPortion .links a.checkout {
    font-size: 20px;
}

@media (max-width: 748px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .header .logo {
        width: 80px;
    }
    .nameC {
        font-size: 12px;
    }
    .header .rightPortion {
        display: flex;
        align-items: center;
    }
    .header .rightPortion .searchbar {
        margin-right: 20px;
        padding: 5px 10px;
        border-radius: 10px;
        border: none;
        background-color: #373836;
        color: #fff;
        width: 55%;
    }
}

@media (max-width: 650px) {
    .header .rightPortion {
        width: 80%;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 450px) {
    .header .rightPortion {
        width: 65%;
        justify-content: flex-end;
    }

    .header .rightPortion .links a {
        font-size: 15px;
    }

    .header .rightPortion .searchbar {
        width: 35%;
        margin-right: 10px;
    }

    .header .rightPortion .links a.signIn,
    .header .rightPortion .links a.signOut {
        margin-right: 10px;
    }
}

@media (max-width: 350px) {
    .header .logo {
        width: 55px;
    }

    .header .rightPortion {
        width: 75%;
    }
}