.banner {
	position: relative;
}

.bannerimage {
	width: 100%;
	display: block;
}

.bannermobile {
	display: none;
}

.bannertext {
	top: 20%;
	left: 10%;
	position: absolute;
	font-family: Sparta;
}
.bannertxt1 {
    margin: 20px 0px;
	font-weight: 500;
	text-shadow: 1px 1px 4px #000000;
	font-size: 70px;
}
.bannertxt2 {
	margin: 20px 40px;
	font-weight: 500;
	text-shadow: 1px 2px 2px #000000;
	font-size: 40px;
}
.brand {
	height: 150px;
    background-color: #4e4e4e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.brand p {
	font-size: 25px;
	margin: 0;
}
.cata {
    position: revert;
    font-size: 32px;
    font-weight: 500;
    color: #3a3a3a;
    padding: 10px;
}
.imageC {
	width: 100%;
	height: auto;
}
.carditems {
	position: relative;
	cursor: pointer;
}
.void {
	position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(255 255 255 / 50%);
}
.plus {
	position: absolute;
	width: 15%;
	right: 10%;
	top: 10%;
}
.nameC {
	position: absolute;
	font-size: 32px;
	font-weight: 500;
	bottom: 10%;
	left: 15%;
	color: #000;
}
.divcata {
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.ilk {
	width: 60%;
	margin: auto;
	display: grid;
	grid-gap: 97px;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.kidney {
		padding: inherit;
		margin-bottom: 38px;
}
.offerT {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    bottom: 10%;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.brand a {
    font-size: 15px;
    padding: 70px;
    color: white;
	text-underline-position: below !important;
	font-weight: bold !important;
}

.divoff {
	padding: 20px;
	margin-bottom: 60px;
}
.offers {
	width: 70%;
	margin: auto;
	display: grid;
	grid-gap: 100px 50px;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.itemsO {
	position: relative;
	cursor: pointer;
}

.imageO {
	width: 100%;
	height: auto;
	border-radius: 18px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.offerTx {
	top: 21%;  
	left: 50%;
	width: 100%;
	font-size: 40px;
	transform:translate(-50%,-5%);
	margin: auto;
	position: absolute;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

.offerTx p:first-child {
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 10px;
}

.offerTx p:nth-child(2) {
	margin-top: 5px;
	font-size: 30px;
	font-weight: 600;
}

.obtn {
	top: 90%;  
	left: 50%;
	transform:translate(-50%,-90%);
	margin: auto;
	position: absolute;
	border-radius: 4px;
	font-size: 24px;
	padding: 10px 20px;
	color: #fff;
	cursor: pointer;
	border: 1px solid transparent;
}

.o-001 {
	background-color: #a07d69;
}

.o-002 {
	background-color: #96381f;
}

.o-003 {
	background-color: #eeb13d;
}

.o-004 {
	background-color: #c3d7c8;
}
.cardb {
		flex: 1 1 auto;
		min-height: 1px;
	 	padding: 0 !important;
	}
@media only screen and (max-width: 1024px) {
    .nameC {
        font-size: 18px;
    }

	.bannertext {
		left: 5%;
		top: 8%;
	}

	.bannertext p {
		margin: 20px 0px;
	}

	.bannertxt1 {
		font-size: 35px;
	}

	.bannertxt2 {
		font-size: 25px;
	}

	.bannertxt3 {
		font-size: 20px;
	}

	
	.offerTx p:first-child {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	
	.offerTX p:nth-child(2) {
		margin-top: 5px;
		font-size: 12px;
		font-weight: 600;
	}
	
	.obtn {
		font-size: 12px;
		padding: 10px 4px;
	}
}
@media only screen and (max-width: 820px) {
    .nameC {
        font-size: 24px;
    }

	.bannertext {
		left: 3%;
		top: 7%;
	}

	.category {
		width: 100%;
	}

	.bannertxt1 {
		margin: 42px 0px;
	}

	.bannertxt1{
		font-size: 30px;
	}

	.bannertext2 {
		font-size: 20px;
	}

	.bannertxt3 {
		font-size: 15px;
	}


	.offerTx p:first-child {
		font-size: 14px;
	}

	.offerTx p:nth-child(2) {
		margin-top: 5px;
		font-size: 12px;
		font-weight: 600;
	}
}
@media only screen and (max-width: 730px) {
	.ilk {
		width: 60%;
		margin-left: 35px;
		display: grid;
		grid-gap: 86px;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	body {
		font-size: 1.0rem;
		font-weight: 400;
		line-height: 1;
		color: #343a40;
		text-align: left;
		background-color: #fff;
	}
	.landing-container {
		margin: 40px 100px;
	}

    .category-text {
        font-size: 24px;
    }

	.bannertext {
		left: 5%;
		top: 7%;
	}

	.bannertxt1 {
		font-size: 25px;
	}

	.bannertxt2 {
		font-size: 18px;
	}

	.bannertxt3 {
		font-size: 15px;
	}

	.brand {
		height: 150px;
	}

	.brand p {
		font-size: 18px;
		margin: 0;
	}

	.brand a {
		font-size: 14px;
	}
	.kidney {
		padding: inherit;
		margin-bottom: 38px;
		width: 100%;
	}
	.ilk {
		width: 60%;
		margin: 0 auto;
		display: grid;
		grid-gap: 61px;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media only screen and (max-width: 560px) {

	.bannermobile {
		display: block;
		width: 100%;
	}

	.category-text {
        font-size: 16px;
    }
	.ilk {
		width: 70%;
		margin: 0 auto;
		display: grid;
		grid-gap: 93px;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.bannerimage {
		display: none;
	}
	
	.category {
		grid-gap: 30px;
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.offers {
		width: 100%;
		grid-gap: 30px 0px;
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	
	.offerTx p:first-child {
		font-size: 18px;
	}

	.offerTx p:nth-child(2) {
		font-size: 14px;
	}

	.obtn {
		font-size: 14px;
		padding: 12px 20px;
	}

	.brand a {
		padding: 0 18px;
	}
}