.signInContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInForm {
    width: 35%;
}

.signInForm .title {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Sparta';
}

.signInForm .signInInputContainer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.signInForm .signInInputContainer label {
    margin: 0;
    font-weight: bold;
}

.signInForm .signInInputContainer input {
    padding: 5px 10px;
    background-color: #EAEAEA;
    border: none;
}

.signInForm .signInInputContainer input::placeholder {
    color: #8C8C8C;
}

.signInForm .signInButton {
    width: 100%;
    margin: 0.5rem 0;
    background-color: #373836;
    color: #fff;
    border: 2px solid #373836;
    border-radius: 3px;
    transition: 0.3s all;
}

.signInForm .signInButton:hover {
    background-color: #fff;
    color: #373836;
    transition: 0.3s all;
}

.signInForm .signinNotice a {
    cursor: pointer;
}

@media (max-width: 650px) {
    .signInForm {
        width: 50%;
    }
}

/* @media (max-width: 450px) {
    .signInForm {
        width: 50%;
    }
} */