html,
body {
    height: 100%;
    font-family: sans-serif;
}
.banner {
	position: relative;
}

.bannerimage {
	width: 100%;
	display: block;
}

.bannermobile {
	display: none;
}

.bannertext {
	top: 20%;
	left: 10%;
	position: absolute;
}
@media only screen and (max-width: 560px) {

	.bannermobile {
		display: block;
		width: 100%;
	}

	.category-text {
        font-size: 16px;
    }

	.bannertext {
		top: 10%;
	}

	.bannerimage {
		display: none;
	}
}
.header {
    z-index: 2;
    padding: 8px 16px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}

.logo {
    width: 100px;
}