html,
body {
    height: 100%;
    font-family: sans-serif;
}
.banner {
	position: relative;
}

.bannerimage {
	width: 100%;
	display: block;
}

.bannermobile {
	display: none;
}

.bannertext {
	top: 20%;
	left: 10%;
	position: absolute;
}
@media only screen and (max-width: 560px) {

	.bannermobile {
		display: block;
		width: 100%;
	}

	.category-text {
        font-size: 16px;
    }

	.bannertext {
		top: 10%;
	}

	.bannerimage {
		display: none;
	}
    .popup-content {
        position: fixed !important;
        left: 9px !important;
        top: 166.1719px !important;
    }
}
.footer {
    padding: 30px 120px 10px 120px;
    display: flex;
    background-color: #373836;
    color: #FFF;
    flex-direction: column;
    margin-top: auto;
}

.footer-main {
    display: flex;
}

.footer-container {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-content a {
    text-decoration: none;
    margin: 18px;
    color: #FFF;
}

.line {
    width: 100%;
    border: 1px solid rgb(255 255 255 / 50%)
}

.copyright {
    word-spacing: 5px;
    font-size: 18px;
}

.header {
    z-index: 2;
    padding: 8px 16px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}

.logo {
    width: 100px;
}
.popup-content {
    position: absolute;
    z-index: 999;
    pointer-events: auto;
    top: 532.43px;
    left: 267px;
    background-color: white;
    width: auto !important;
    height: auto !important;
    padding: 10px;
}
.con {
    box-sizing: inherit;
    display: table-caption;
}  
.message {
    border-radius: 4px !important;
    width: 443px !important;
    margin-bottom: 20px; 
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}
.contact {
    background-color: #373836;
    color: #FFF;
}
.name {
    width: 443px;
}
.social {
    margin-left: -4%;
}
.social-svg {
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    fill-rule: evenodd;
    padding: 8%;
}
.popup-arrow {
    filter: drop-shadow(0 -3px 3px rgba(0,0,0,.16));
    color: #fff;
    stroke-width: 2px;
    stroke: #d7d7d7;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
    left: 44px !important;
    right: 0;
    top: 0;
    bottom: 0;
}

@media only screen and (max-width: 1024px) {
    .copyright {
        font-size: 12px;
    }
    .footer-content a {
        margin: 12px;
    }
}

@media only screen and (max-width: 1024px) {
    .copyright {
        font-size: 12px;
    }
}


@media only screen and (max-width: 770px) {
    .copyright {
        font-size: 10px;
    }

    .footer-container h2 {
        font-size: 18px;
    }

    .footer-container div {
        font-size: 14px;
    }

    .footer {
        padding: 30px 30px 10px 30px;
    }
}

@media only screen and (max-width: 528px) {
    .copyright {
        font-size: 10px;
    }

    .footer-container h2 {
        font-size: 14px;
    }

    .footer-container div {
        font-size: 12px;
    }

    .footer-container {
        margin: 0 30px;
    }

    .footer {
        padding: 30px 10px 10px 10px;
    }
}