@font-face {
    font-family: Sparta;
    src: url(/src/assets/fonts/Spartan-VariableFont_wght.ttf);
}
.con {
    box-sizing: inherit;
    display: table-caption;
}  

@import url('./assets/css/landing.css');
@import url('./assets/css/filler.css');
@import url('./assets/css/footer.css');
@import url('./assets/css/header.css');
@import url('./assets/css/contact.css');
